<form>
    <h3>Add an Ality</h2>
    <label for="alityName">Name</label>
    <input type="text" name="alityName" id="alityName" placeholder="Name">
    <label for="alityImageSrc">Image URL</label>
    <input type="text" name="alityImageSrc" id="alityImageSrc" placeholder="http://placeholder.com/300/300">
    {{#each statDefs}}
        <h4>{{this.name}}</h3>
        {{#if (isCounter this.statType)}} {{!-- Counter --}}
            <label for="a_{{this.id}}">Count:</label>
            <input type="number" name="a_{{this.id}}" id="a_{{this.id}}">
        {{/if}}

        {{#if (isRatio this.statType)}} {{!-- Plain Ratio --}}
            <label for="a_{{this.id}}">Numerator</label>
            <input type="number" name="a_{{this.id}}" id="a_{{this.id}}">

            <label for="b_{{this.id}}">Denominator</label>
            <input type="number" name="b_{{this.id}}" id="b_{{this.id}}">
        {{/if}}

        {{#if (isColon this.statType)}} {{!-- Colon Ratio --}}
            <label for="a_{{this.id}}">Antecedent</label>
            <input type="number" name="a_{{this.id}}" id="a_{{this.id}}">
            
            <label for="b_{{this.id}}">Consequent</label>
            <input type="number" name="b_{{this.id}}" id="b_{{this.id}}">
        {{/if}}
        
        {{#if (isAverage this.statType)}} {{!-- Average --}}
            <label for="a_{{this.id}}">Total Sum</label>
            <input type="number" name="a_{{this.id}}" id="a_{{this.id}}">
            
            <label for="b_{{this.id}}">Count</label>
            <input type="number" name="b_{{this.id}}" id="b_{{this.id}}">
        {{/if}}
    {{/each}}
    <button type="submit" class="button">Submit</button>
</form>
