<div class="grid-container">
  <h1>{{userdata.username}}</h1>
  <form class="new-stat-list">
{{!-- opens modal form to gather number of stat tables to create --}}
    <div class="reveal" id="exampleModal1" data-reveal>
      {{> manyAlity}}
      <br>
      {{!-- x button to close modal --}}
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{!-- second modal for  stat types --}}
    <div class="reveal" id="exampleModal2" data-reveal>
      {{> statTypes }}
      <p></p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </form>

  <p><button class="button" data-open="exampleModal1" data-reveal-id="exampleModal1">New Stat List</button></p>

  <div class="grid-container full">
    {{#each nameAndLists.stat_lists}}
    <div class="grid-x stat-list-row align-middle">
      <div class="cell small-8">{{name}}</div>
      <div class="cell small-4 clearfix">
        <button data-id= {{id}} class= "deleteButton hollow button alert float-right" >delete</button>
        <a href="/stat-list/{{id}}" class="button float-right" data-id="{{id}}">Enter Table</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>

