<div class="grid-container">
  <h1>{{user.username}}</h1>
  <form class="new-stat-list">
{{!-- opens modal form to gather number of stat tables to create --}}
    <div class="reveal" id="exampleModal1" data-reveal>
      {{> manyAlity}}
      <br>
      {{!-- x button to close modal --}}
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{!-- second modal for  stat types --}}
    <div class="reveal" id="exampleModal2" data-reveal>
      {{> statTypes }}
      <p></p>
      <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </form>
  <p><button class="button" data-open="exampleModal1" data-reveal-id="exampleModal1">New Stat List</button></p>

  <div class="grid-x">
    {{#each nameAndLists.stat_lists}}
    <p>
    <div class="cell small-9 callout">{{name}}</div>
    <div class="cell small-1"></div><a href="/stat-list/{{id}}" class="stat-table cell small-2 button"
      data-id="{{id}}">Enter Table</a></p>
    <div class="cell small-1"></div><button data-id= {{id}} class= "deleteButton button" >delete</button></p>
    {{/each}}
  </div>
</div>

